# .github/workflows/terraform-cicd.yml

name: Terraform CI/CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.8.1

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Import Existing IAM Roles and Policies
        run: |
          terraform import aws_iam_role.EKS_Cluster_Role EKS_Cluster_Role
          terraform import aws_iam_role.AmazonEKSNodeRole AmazonEKSNodeRole
          terraform import aws_iam_policy.create_delete_ebs_policy create_delete_ebs_policy

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan
        continue-on-error: true

      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: Install EBS CSI Driver and Kubernetes Manifests
        run: |
          aws eks --region ${{ secrets.AWS_REGION }} update-kubeconfig --name ${{ secrets.CLUSTER_NAME }}
          kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=release-1.31"
          git clone https://github.com/fredritchie/3-tier-eks-manifests.git
          cd 3-tier-eks-manifests
          kubectl apply -f frontend_deployment.yaml
          kubectl apply -f backend.yaml
          kubectl apply -f service.yaml
          kubectl apply -f secret.yaml
          kubectl apply -f database.yaml
